#application_controls {
    display: block;
    position: fixed;
    z-index: 10000;
}

html {
    -webkit-app-region: drag;
}


button, a, span, .btn, h1, h2, h3, h4, h5, h6, p, img, image, .link, .header_logo {
    -webkit-app-region: no-drag;
}