.fh5co-cover .overlay {
    background-color: #000;
    background-image: url("../images/iso-wide.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    background-size: contain;
}

.header_logo {
    max-height: 75px ;
}

.fullWidth {
    display: block;
    float: left;
    width: 100%;
}

#ChatApplicationWrapper {

}

#ChatApplicationWrapper .applicationTitle {
    text-align: center;
}

.ChatMessages {
    background: rgba(76, 74, 138, 0.9) none repeat scroll 0 0;
    height: 250px;
    max-height: 250px;
    overflow-y: scroll;
}

.ChatMessages span {
    display: block;
    width: 100%;
    color: white;
    font-size: 120%;
    font-weight: bold;
}

.larger_paragraph {
    font-size: 18px;
}

span.chat_choice {
    cursor: pointer;
}

span.chat_choice:hover {
    background: rgba(76, 74, 138, 0.9) none repeat scroll 0 0;
}

span#send_chat_message {
    display: block;
    margin: 0 auto;
}

.CodeExample {
    font-size: 110% ;
    text-align: left;
    overflow-x: hidden;
}

.CodeExample h4 {
    margin: 0;
}

.CodeExample iframe {
    border: 0;
    width: 100%;
    float: left;
}

.coming_soon_banner {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.nopadding {
    padding: 0 ;
}


.feature-center .link_title {
    text-align: center;
}

@media (max-width: 767px) {
    .feature_icon {
        display: none !important;
    }
    .feature-center {
        padding-left: 0 !important;
    }
    .ChatMessages {
        height: 125px;
        max-height: 125px;
    }
    .display-tc {
        max-width: 400px !important;
    }
    .display-t {
        height: 450px !important;
    }
}

.fh5co-nav ul li span.link {
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    padding: 30px 15px;
    text-transform: uppercase;
    transition: all 0.5s ease 0s;
}

.link, .link_standard {
    /*transition: 0.5s;*/
    /*font-size: 120%;*/
    display: inline !important;
    font-size: 18px !important;
    text-transform: none !important;
    letter-spacing: 0px !important;
    line-height: 1.5;
    color: #FC5185;
    margin: 0 0 10px;
    font-family: "Work Sans", Arial, sans-serif;
    font-weight: 400;
}

footer.link {
    color: #000 ;
    font-size: 16px;
    line-height: 1.7;
}

.link_menu {
    transition: 0.5s;
    color: rgba(255, 255, 255, 0.5);
}

.link:hover,
.link_standard:hover,
.link_menu:hover {
    cursor: pointer;
    text-decoration: underline;
}

.header-narrow {
    height: 250px !important;
    max-height: 250px !important;
}

.container {
    width: 90%;
}

.container ,
.container.row {
    height: 100%;
    max-height: 100%;
}

img.download_app_logo {
    max-width: 200px;
    max-height: 200px;
}